# Server Configuration
PORT=8000
NODE_ENV=production

# MongoDB Configuration
MONGODB_URI=mongodb+srv://buddy_script:BUDDYSCRIPT123@cluster0.gjcdlw5.mongodb.net/?appName=Cluster0

# JWT Configuration
JWT_SECRET=SuperSecretKey@123!

# Google OAuth Configuration
# Get these from: https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_ID=2429522708-a23fo3djrroar5totemudl58iftntvak.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# Client URL (Update with your Vercel deployment URL after deployment)
CLIENT_URL=https://buddy-script-opal.vercel.app/
